.box {
    display: relative;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 2px 2px 5px #808080;
    overflow: auto;
}

.audio {
    display: relative;
    background-color: #18adab;
    border-radius: 8px 8px 0 0;
    color: #fff;
    height: 120px;
}

.play {
    position: relative;
    width: 64px;
    margin-left: -32px;
    left: 50%;
    top: 28px;
}

.expand_chinese {
    position: absolute;
    left: 20px;
    top: 80px;
}

.answer .chinese {
    color: #666666;
}

.answer .english {
    color: #016ea6;
    font-weight: bold;
}

.answer .note {
    color: crimson;
}

.expand_chinese_fix {
   position: fixed;
   bottom: 20px;
   left: 20px;
}

.expand_chinese_fix_answer {
   position: fixed;
   bottom: 70px;
   left: 20px;
}

/*隐藏掉插件默认样式*/

.replaybutton span {
    display: none;
}


/*隐藏掉移动端默认的音频图标*/

.soundLink .playImage {
    display: none;
}


/*移动端和PC端音频图标样式*/

.soundLink,
.replaybutton {
    position: relative;
    display: inline-block;
    background: url("_play.png") no-repeat;
    background-size: contain;
    width: 64px;
    height: 64px;
}

.soundLink:hover,
.replaybutton:hover {
    cursor: pointer;
}

.expand_chinese:hover {
    cursor: pointer;
}